<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Gestion de ventas
	link(href="lib/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.css", rel="stylesheet")
	link(href="lib/font-awesome-4.7.0/css/font-awesome.min.css", rel="stylesheet")
	link(href="css/jquery.dataTables.min.css", rel="stylesheet")
	script(src='js/jquery-1.9.1.js')
	script(src='js/ini.js')
	script(src='js/luitorc.js')

body
	include ../template/head
	div.container(align='center')
		block viewSales

	script(src='js/jquery.dataTables.min.js')
	script(src="lib/bootstrap-4.0.0-alpha.6-dist/js/tether.min.js")
	script(src="lib/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js")


	